<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet">
    <title>{{title}}</title>
</head>
<body>
        <h1> {{ product.name}}</h1>
        <img style="float: left; padding: 0 8px;" src="data:image/{{format_file}}; base64, {{ image_str | safe }}" alt="{{ product.name}}"/>
        <h2>Описание</h2>
        <p> {{product.description}}</p>
        {% if product.is_active %}
            <p>Цена {{product.price}}</p>
            <p> В наличии: {{product.count}} </p>
            <p>Категория: {{product_category}} </p>
            <p>Акция: {% if product.action %} Участвует {% else %} Нет {% endif %}</p>
        {% else %}
            <p>Товар отсутствует </p>
        {% endif %}
        {% if user %}
            {% if product.is_active %}
                <a href="/buy/car/{{product.id}}"> Купить</a>
            {% endif %}
            {% if user.is_staff %}
                <p><a href="/product/update_product/{{product.id}}">Обновить</a></p>
                <p> <a href="/product/update_image_product/{{product.id}}">Изменить изображение</a></p>
                <p> <a href="/product/delete/{{product.id}}">Удалить</a></p>
            {% endif %}
            {% else %}
            <p>Вы не вошли в систему</p>
            {% endif %}

        <p><a href="/main"> На главную</a></p>
</body>
</html>